.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    text-align: center;
}

#title{
    color: white;
    font-size: 2.2em;
}

.flashbag{
    color: #b93d18;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
}

#content{
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
    border: solid black 1px;
}

#steps{
    margin-bottom: 20px;
    font-size: 1.1em;
}

#step1{
    font-size: 1.2em;
}

#step2{
    opacity: 0.3;
}

#step3{
    opacity: 0.3;
}

.well{
    background-color: #d5dae1;
    position: relative;
    border-radius: 0;
}

.form-horizontal .control-label{
    text-align: center;
}

input{
    text-align: center;
}

.form-control[readonly]{
    background-color: white;
}

.datepicker{
    position: inherit;
    z-index: 3;
}

#user_visit_day{
    margin-left: 8%;
    width: 84%;
    text-align: center;
}

#user_ticket_number{
    border-radius: 3px 0 0 3px;
}

.input-group .form-control{
    z-index: 0;
}

.input-group .form-control:focus{
    z-index: 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    background-color: dimgrey;
    width: 180px;
    border-radius: 0;
    padding: 5px 0 5px 0;
    margin: 0 15px 15px 15px;
    color: white;
    box-shadow: 5px 5px 3px #3c3c3c;
    cursor: pointer;
    cursor: hand;
}

input[type="radio"]:checked + label {
    background-color: #b93d18;
    border-radius: 0;
    color: white;
    box-shadow: none;
    cursor: pointer;
    cursor: hand;
    margin: 0 15px 15px 15px;
}

.btn-choice,
.btn-choice:visited,
.btn-choice:focus {
    width: 180px;
    height: 30px;
    background-color: #b93d18;
    border-radius: 0;
    border: none;
    color: white;
}

.btn-choice:hover {
    background-color: #331107;
}

@media (min-width: 450px) {
    #content{
        margin-top: 10px;
    }

    #steps{
        font-size: 1.8em;
    }

    #user_visit_day{
        margin-left: 25%;
        width: 50%;
        text-align: center;
    }
}

@media (min-width: 560px) {
    #content{
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    #content{
        margin-top: 15px;
    }

    #user_visit_day{
        margin-left: auto;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 992px) {
    #steps{
        padding-top: 0;
    }
}