{% extends "PepertTicketingBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pepertticketing/css/error.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div class="container">
        <span id="title">Erreur</span>

        {% for message in app.session.flashbag.get('erreur') %}
            <br/>
            <div  class="flashbag">
                <span>{{ message }}</span>
            </div>
        {% endfor %}

        <div id="content" class="col-md-12">
            <h3 id="subtitle">
                <span id="subtitleend">Une erreur est survenue</span>
            </h3>

            <div class="well">

                <p>La transaction n'a pas été validée</p>
                <p>Merci de réitérer votre achat</p>

            </div>

            <a href="{{ path('pepert_ticketing_homepage') }}"><button class="btn-choice btn-bottom">Retour à l'accueil</button></a>

        </div>
    </div>

{% endblock %}